.accueilLayout{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../Assets/img/ordinateur-equipement-medical.jpg");
    background-position: center;
    background-size: cover;
}
