.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("../../../../client/src/Assets/icon/iconProfil.png");
    background-position: center;
    background-size: cover;
}